* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
}

h2 {
    padding: 6px;
    font-weight: bold;
    font-style: oblique;
    font-size: 28px;
    text-align: center;
    color: white;
    background-color: red;
    width: 90%;
}

.picture {
    width: 90%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

.ch-su {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.ch-su h3 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.price h1 {
    font-style: italic;
    color: blue;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 1px solid #000;
    width: 90%;
}

.text {
    font-weight: 520;
    font-size: 20px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buy a {
    font-weight: bold;
    color: #000;
    background: #fff999;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4d03f,
        0 0 25px #f4d03f,
        0 0 50px #f4d03f,
        0 0 100px #f4d03f;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.buy a:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
        0 0 25px #03f40f,
        0 0 50px #03f40f,
        0 0 100px #03f40f;
}

.buy a span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.buy a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
}